<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <!DOCTYPE html>
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Test</title>
    </head>
    <body>

        <table>
            <tr>
                <th>{% ID %}</th>
                <th>{% Name %}</th>
                <th>{% Phone %}</th>
            </tr>"

            <td>
                <tr>
                    <td>
                        {% value %} <!--$value from nested foreach(s)-->>
                    </td>
                </tr>
            <form method = post>
                <input type=hidden name=edit value=Edit> <!--n=id-->
                <input type=submit name=delete value=Delete>
            </form>
         </td></tr>

        </table>
    </body>
